body{
    font-family: "Roboto";
    margin: 0;
}

strong{
        font-weight: 800px;
}

a{
    text-decoration: none;
}


.hero-img{
    display: none;
}




/* LOADING SPINNER TEST */
 /* .loading{
    width: 50px;
    height: 50px;
    border: 10px solid lightgrey ;
    border-top-color: #9356DC;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}  */

/* HEADER */


.header-logo{   
                display: flex;
                padding-left: 80px;
                width: 50%;
                object-fit: cover;
                margin-bottom: 10px;        
}


/* SECTION 1 : PRESENTATION */


.presentation-map-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: lightgrey;
                    width: 100%;                   
}

.fa-map-marker-alt{
                    font-size: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                    
}

.presentation{
    
                background-color: #F2F2F2;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 40px;
                text-align: center;
}

.presentation-btn{
                    color: white;
                    font-weight: bold;
                    font-size: 15px;
                    background-image: linear-gradient(#FF79DA, #9356DC);
                    width: 90%;
                    border: none;
                    border-radius: 30px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-top: 15px;
                    box-shadow: 2px 2px 10px grey;
}

.presentation-title{
                    margin-top: 0px;
                    padding-top: 20px;
}

.presentation-btn:hover{
    box-shadow: 5px 5px 20px rgb(206, 52, 206);


}
         


/* SECTION 2 : FONCTIONNEMENT */

.fonction-title{
                margin-left: 10px;
}


.fonction-number{
                    color: white;
                    font-weight: bold;
                    background-color:#9356DC;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    right: 30px;

}



.fonction-item:hover{
                        background-color: rgba(187, 144, 206, 0.404);
                        box-shadow: 4px 5px 20px rgb(84, 54, 97);

    
}

/* .fonction-logo:hover{
color: darkviolet;

}  */

.fonction-item-choose{
                        background-color: #F2F2F2;
                        width: 100%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 30px;
                        border-radius: 20px;
                        box-shadow: 2px 2px 10px grey;
                        margin-left: -30px;
                        margin-top: 30px;
                        margin-bottom: 30px;

}

.fonction-item-compose{
                        background-color: #F2F2F2;
                        width: 100%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 30px;
                        border-radius: 20px;
                        box-shadow: 2px 2px 10px grey;
                        margin-bottom: 30px;
                        margin-left: -30px;
}

.fonction-item-eat{
                    background-color: #F2F2F2;
                    width: 100%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 30px;
                    border-radius: 20px;
                    box-shadow: 2px 2px 10px grey;
                    margin-bottom: 60px;
                    margin-left: -30px;

}

.fonction-logo-txt{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    margin-left: -10px;
}

.fonction-choose{
                    padding-left: 25px;
                    
}

.fonction-compose{
    padding-left: 20px;
}

.fonction-eat{
    padding-left: 20px;
}


/* SECTION 3 : RESTAURANTS */

.restaurant{
            background-color: #F2F2F2;
            width: 100%;
            padding-top: 30px;
}


.restaurant-title{
                    padding-left: 10px;
}



.restaurant-newtag{
                    color:#02ad88 ;
                    background-color: #99E2D0;
                    border-radius: 2px;
                    padding: 10px;
                    position: absolute;
                    left: 230px;
                    bottom: -250px;
} 

figure{

                background-color: white;
                width: 100%;
                border-radius: 20px ;
                box-shadow: 2px 2px 10px grey;
                margin-left: 0px ;           
                line-height: 5px ;
}

figure:hover{
    box-shadow: 2px 2px 20px rgb(172, 87, 172);

} 

figcaption{
            padding-left: 15px;
            color: black;
            

}

.fa-heart-home{
                position: relative;
                left: 80%;
                bottom: 40px;
                font-size: 25px;  
} 


.fa-heart:hover{
                color: darkviolet;

}


.restaurant-img{
                width: 100%;
                height: 250px;
                border-radius: 20px 20px 0 0 ;
                object-fit: cover;


}




/* FOOTER */

footer{
        background-color: #353535 ;
        color: white;
        width: 97%;
        padding-left: 10px;
}

.footer-logo{
                font-family: "Shrikhand";
                font-size: 20px;
                padding-top: 10px;
}

.footer-txt-logo{
                    display: flex;
                    align-items: center;

}

.footer-txt-propose{
                    padding-left: 20px;
                    margin: 0;
}

.footer-txt-partner{
                    padding-left: 20px;
                    margin-bottom: 5px;
}

.footer-contact{
    color: white;
}


/* AUTRES PAGES  */

/* MENU  */

.header-menu{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
}

.header-logo-menu{
                    width: 50%;


}

.fa-arrow-left{
                padding-left: 20px;
                color: black;
}

.menu-img{
            width: 100%;
            height: 500px;  
            object-fit: cover;

}

.menu-title-box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
}

.fa-heart-menu:hover{
                display: flex;
                margin-right: 30px;
                font-size: 20px;
                animation: border 1s linear;   
}

@keyframes border {

0%{ 
    opacity: 100%;
}


100%{ 
    opacity: 0%;
} 

}
 

.fa-heart{
                display: flex;
                margin-right: 30px;
                margin-top: -20px;
                font-size: 20px;
                color: darkviolet;
                animation: fill 2s linear ;
}


@keyframes fill {

0%{
    opacity: 0%;
}

25%{
    opacity: 25%;
}

50%{
    opacity: 50%;
}

75%{
    opacity: 75%;
}

100%{ 
    opacity: 100%;

}

}


.menu-title{
                font-family: "Shrikhand";
                font-size: 23px;
                margin-left: 20px; 
}

.menu-container{
                    background-color: #F2F2F2;
                    border-radius: 20px 20px 0 0 ;
                    width: 100%;
                    position: relative;
                    top: -50px;
}

.menu-category{
                    border-bottom:#99E2D0 3px solid;
                    width: 50px;
                    padding-bottom: 5px;
                    margin-left: 20px;
                    margin-top: 20px;
}

.menu-item{
            background-color: white;
            box-shadow: 2px 2px 10px grey;
            border-radius: 20px;
            margin-left: 15px;
            margin-bottom: 15px;
            padding-left: 10px;
            width: 90%;
            position: relative;
            display: flex;
            overflow: hidden; 

}

.menu-item-name-title{
                        font-size: 18px;
                        margin-bottom: 0px;
                        text-overflow: ellipsis;
                        overflow: hidden; 
                        

}

.menu-item-name-txt{
                    text-overflow: ellipsis;
                    overflow: hidden;

}

.menu-item-name-txtprice{
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;

}  



/* .menu-item-name-price{
                        display: flex; 
                        justify-content: flex-end;
                        align-items: flex-end; 
                        margin-left: 50%;
                        
}  */ 

.fa-check-circle{
                    color: white;
                    font-size: 30px;
                    width: 5px;
                    height: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .5s linear;               
} 

.menu-item:hover .fa-check-circle{
    transform: rotate(360deg);

}

.menu-item-slidebox{
                        background-color: #99E2D0;
                        width: 50px;
                        height: 100%;
                        position: absolute;
                        right: -50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: .5s linear;
}

.menu-item:hover .menu-item-slidebox{
    right: 0px;
}

.appetizer{
        animation: show .5s linear;
}

@keyframes show {

    0%{
        transform: translateY(100px);
        opacity: 30%;
    }
    
    100%{ transform: translateY(0px);
    }
}

.dish{
    animation: show .5s linear;
    animation-delay: .2s;

}

@keyframes show {

0%{
    transform: translateY(100px);
    opacity: 30%;

}



100%{ transform: translateY(0px);
}
}

.dessert{
    animation: show .5s linear;
    animation-delay: .5s;

}

@keyframes show {

0%{
    transform: translateY(100px);
    opacity: 30%;

}

100%{ transform: translateY(0px);

}
}



/* BOUTON RECHERCHER */

.menu-btn{
            color: white;
            font-weight: bold;
            font-size: 15px;
            background-image: linear-gradient(#FF79DA, #9356DC);
            width: 80%;
            border: none;
            border-radius: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 30px;
            box-shadow: 2px 2px 10px grey;
}

.menu-btn:hover{
                    box-shadow: 5px 5px 40px rgb(206, 52, 206);
}






/* ----MEDIA QUERYS ---- */

/* MEDIA QUERYS DESKTOP 1024px */

@media (min-width: 1024px) {


.header-logo{   
        display: flex;
        width: 20%;
        object-fit: cover;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
        padding-left: 0px;        
} 

.hero-img{
        display: flex;
        width: 100%;
        height: 50%;
}

.presentation-map-box{
    width: 40%;
    display: flex;
    margin-left: 60%;
    margin-top: -45px;
    background-color: white;
    
}

.presentation{
    position: relative;
    top: -130px;
    height: 100px;
    background-color: rgba(253, 253, 253, 0.521);

} 

.presentation-title{
    font-size: 30px;
    display: flex;
    padding-top: 30px;
}

.presentation-txt{
    font-size: 15px;
    margin-top: -20px;
    display: flex;
}


.presentation-btn{
    width: 40%;
    font-size: 17px;
    position: relative;
    top: -70px;
    left: 25%;
    
    
}

/* FONCTIONNEMENT */

.fonction-title{
    margin-top: -100px;
}

.fonction-item-btn{
    display: flex;
} 

.fonction-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;

}

.fonction-item-choose{
    background-color: #F2F2F2;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.fonction-item-compose{
    background-color: #F2F2F2;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
    margin-bottom: 0px;
}

.fonction-item-eat{
background-color: #F2F2F2;
width: 100%;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 30px;
padding-right: 20px;
border-radius: 20px;
box-shadow: 2px 2px 10px grey;
margin-bottom: 0px;

}

.fonction-logo-txt{
display: flex;
align-items: center;
list-style: none;
}

.fonction-choose{
padding-left: 20px;

}

.fonction-compose{
padding-left: 20px;
} 

 .fonction-eat{
padding-left: 20px;
} 

/* RESTAURANTS */


.restaurant{
            background-color: white;
}

.menu-item-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;

}

} 

/* MENU */

.menu-food-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu-item-name-title{
    font-size: 17px;
}

.menu-btn{
    width: 50%;
    margin-left: 25%;
    
}



/* MEDIQUERYS MOBILE ET TABLETTE */

 @media (max-width: 480px) and (max-width:1023px) {



 }

